.register{
    background: #74A1CB;
    height: auto;
    width: 100%;
}

#register__container{
    color: white;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form#register__form{
    background-color: #3c464f;
    border-radius: 5px;
    box-shadow: 0 0 10px #3c464f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 ;
}

h1#register__titel{
    color: white;
    text-align: center;
    margin-top: 25px; 
}

input.register__input{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 300;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
input.register__datum{
    margin: 15px 0 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

button.register__button{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    color: #3c464f;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 10px;
    margin-bottom: 25px;
    transition: all 0.2s ease 0s;
}
button.register__button:hover{
    background-color: #3c464f;
    color: white;
}

button.register__button:disabled{
    border: 2px solid #6FAAD6;
    color: #6FAAD6;
}

label.register__label{
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
}

label.register__label:nth-child(1){
    margin-top: 40px;
}

h3.register__label__tekst{
    margin: -10px 0 0 0;
    font-weight: 500;
    color: white;
}
h3.register__label__tekst2{
    margin: 10px 0 0 0px;
}

.icon{
    margin: 10px 10px 5px 10px;
    position: absolute;
    font-size: 1.3rem;
}
.icon path{
    color: white;
    stroke: white;
}
.icon2{
    margin: -28px 0px 0px 160px;
}

.error {
    color: rgb(185, 8, 8);
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;   
}

.register_terug a{
    color: white;
    font-size: 1.2em;
    position: absolute;
    font-weight: 300;
    top: 8vh;
    left: 10vw;
}
.register_terug:hover a{
    transition: all 0.2s ease 0s;
    color: #3c464f;
}