.login{
    background-color: #74A1CB;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login__container{
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}
.login__container h1 {
    color: white;
}

.login__container__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__container__form__group{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.login__container__form__group__CB-label{
    font-size: 14px;
    cursor: pointer;
    display: flex;
}
.login__container__form__group__CB-label::before{
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .2em;
    margin-right: .5em;
    border: 0.15em solid white;
}
.login__container__form__group__CB-label::before,
.login__container__form__group
input[type='checkbox']:hover + label::before {
    background-color: transparent;
}

.login__container__form__group
input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* echte checkbox */
.login__container__form__group__checkbox{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    height: 21px;
    width: 21px;
}
.login__container__form__group_icon{
    width:30px;
    height:30px;
    text-align: center;
}

.login__container__form__group__input{
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.login__container__form__group__login{
    color: #443986;
    margin: 5px 0;
    width: 100%;
    height: 2.4rem;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.login__container__form__group__login:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
}

.login__sec__account__maken{
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 0;
    text-align: center;
}
.login__sec__account__maken:hover{
    background-color: white;
    color: #443986;
    cursor: pointer;
}

.login__container__form__icon{
    width: 2em;
    height: 2em;
    position: absolute;
}
.login__container__form__error p{
    color: rgb(185, 8, 8);
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.login__container__form__icon svg{
    width: 60%;
    height: 60%;
    margin: auto 0;
    padding: 20%;
    position: relative;
}

.login__container__form__ww__vergeten{
    color: white;
    font-size: 14px;
    margin: 20px auto;
}

@media only screen and (min-width: 600px) {
    .login__container__form{
        background-color: #3c464f;
        border-radius: 5px;
        box-shadow: 0 0 10px #3c464f;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .login__container__form__group{
        width: 75%;
        margin-bottom: 30px;
    }
    .login__sec__account__maken{
        width: 75%;
    }
    .login__container__form__error p{
        color: rgb(230, 158, 158);
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        margin: 10px auto;
    }
}