.activiteitenKaart {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    width: 82.5%;
    margin: 10px 0px;
    margin: 7.5px auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #74A1CB;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.activiteitenKaart__links__titel,
.activiteitenKaart__rechts__punten {
    padding-bottom: 10px;
}

.activiteitenKaart__links__titel {
    color: #74A1CB;
}

.activiteitenpagina__activiteiten--hiddenh5 {
    opacity: 0;
}

.activiteitenKaart__rechts__punten {
    margin-left: 15px;
    padding-top: 5px;
    font-size: 18px;
}

.activiteitenKaart__rechts__punten__img {
    margin-left: 2px;
    width: 15px;
}

.activiteitenKaart__links__knop {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.Collapsible {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}

.activiteitenKaart__rechts__knop {
    background-color: #74A1CB;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease 0s;
}

.activiteitenKaart__rechts__knop:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    background-color:#5192ce;
}

.activiteitenKaart__links__knop__beschrijving {
    font-size: 12px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.activiteitenKaart__links__knop__pdf {
    margin-top: 5px;
    padding: 5px;
    border: none;
    background-color: #f4f4f4;
}

.activiteitenpagina__activiteiten {
    position: relative;
}

.activiteitenpagina__activiteiten__createActivity {
    position: absolute;
}

.activiteitenpagina__activiteiten__createActivity__knop {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    background-color: #74A1CB;
    bottom: 80px;
    right: 20px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease 0s;
}

.activiteitenpagina__activiteiten__createActivity__knop:hover {
    font-size: 22px;
    bottom: 79px;
    right: 19px;
    width: 52px;
    height: 52px;
    background-color: #5192ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.inleveren__tekst{
    opacity: 0;
}

.geselecteerdeBestand {
    color: #333;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal__scherm {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__scherm__form {
    color: #333;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #74A1CB;
}

.modal__scherm__form__sluit {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    background-color: rgb(179, 179, 179);
    top: 20px;
    right: 20px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.modal__scherm__form__sluit:hover {
    background-color: rgb(161, 161, 161);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.inleveren__titel {
    color: #74A1CB;
    left: 40px;
    top: 30px;
    position: absolute;
}

.modal__scherm__form__tekst {
    margin-top: 40px;
    width: 100%;
    height: 40%;
}

.modal__scherm__form__titel {
    display: none;
}

.modal__scherm__form__bestand {
    margin-bottom: 20px;
    color: #8A8A8A;
    font-size: 12px;
}

.modal__scherm__form__verstuur {
    background-color: #74A1CB;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 33.3%;
    margin-left: 33.3%;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__scherm__form__verstuur:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    background-color:#5192ce;
}

.modal__scherm__form__rating__options label svg {
    fill: #c5c5c5;
    height: 10%;
    width: 10%;
    margin: 10px;
}

#radios label {
    position: relative;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"]+svg {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

input+svg {
    cursor: pointer;
}

input[class="modal__scherm__form__rating__options__rating-5"]:hover+svg,
input[class="modal__scherm__form__rating__options__rating-5"]:checked+svg,
input[class="modal__scherm__form__rating__options__rating-5"]:focus+svg {
    fill: rgb(0, 109, 217);
}

input[class="modal__scherm__form__rating__options__rating-4"]:hover+svg,
input[class="modal__scherm__form__rating__options__rating-4"]:checked+svg,
input[class="modal__scherm__form__rating__options__rating-4"]:focus+svg {
    fill: rgb(0, 204, 79);
}

input[class="modal__scherm__form__rating__options__rating-3"]:hover+svg,
input[class="modal__scherm__form__rating__options__rating-3"]:checked+svg,
input[class="modal__scherm__form__rating__options__rating-3"]:focus+svg {
    fill: rgb(232, 214, 0);
}

input[class="modal__scherm__form__rating__options__rating-2"]:hover+svg,
input[class="modal__scherm__form__rating__options__rating-2"]:checked+svg,
input[class="modal__scherm__form__rating__options__rating-2"]:focus+svg {
    fill: rgb(229, 132, 0);
}

input[class="modal__scherm__form__rating__options__rating-1"]:hover+svg,
input[class="modal__scherm__form__rating__options__rating-1"]:checked+svg,
input[class="modal__scherm__form__rating__options__rating-1"]:focus+svg {
    fill: rgb(239, 42, 16);
}

.modal__scherm__form__rating__titel {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.activiteitenpagina__activiteiten__grid__onderdeel__titel{
    margin: 20px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .modal__scherm__form__rating__options {
        margin-left: 20%;
    }

    .modal__scherm__form__bestand {
        margin-left: 25%;
    }

    .activiteitenpagina__activiteiten__grid__onderdeel__titel{
        margin: 20px auto;
    }

    .activiteitenpagina__activiteiten__grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .modal__scherm__form__rating__options {
        margin-left: 25%;
    }

    .modal__scherm__form__bestand {
        margin-left: 35%;
    }

    .modal__scherm__form {
        height: 60%;
        width: 40%;
    }

    .activiteitenpagina__activiteiten__grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
    }

    .activiteitenpagina__activiteiten__createActivity__knop {
        bottom: 30px;
        right: 30px;
    }

    .activiteitenpagina__activiteiten__createActivity__knop:hover {
        bottom: 29px;
        right: 29px;
    }

}