.container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container__formDiv{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.container__formDiv__form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 1;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #74A1CB;
}

.container__input, .container__textarea{
  width: 100%;
}

.container__textarea{
  height:20%;
}


.container__input{
    display: block;
    margin-bottom: 10px;
}

.container__h1{
    text-align: center;
    color: #74A1CB;
}

.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #74A1CB;
  }

  .container__formDiv__form__label{
    font-size: 15px;
    color: #8A8A8A;
  }

  .container__button{
    background-color: #74A1CB;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 33.3%;
    margin-left: 33.3%;
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0s;
    cursor: pointer;
  }

  .container__button:hover{
    background-color: #5192ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .container__formDiv__form__sluit {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    background-color: rgb(179, 179, 179);
    top: 20px;
    right: 20px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container__formDiv__form__sluit:hover {
    background-color: rgb(161, 161, 161);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container__select {
    width: 102%;
    margin-bottom: 20px;
}

.container__bijlage{
    color: #8A8A8A;
    font-size: 12px;
}

.container__formDiv__form__titel{
  color: #74A1CB;
}

@media screen and (min-width: 768px) {
  .container__formDiv__form{
    width: 60%;
  }

  .container__button{
    margin-left: 33.3%;
  }

  .container__bijlage{
    margin-left: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .container__formDiv__form{
    height: 70%;
    width: 40%;
  }

  .container__bijlage{
    margin-left: 35%;
  }
}