.groepForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.groepForm label {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: normal;
}

.groepForm input {
    margin-bottom: 2vh;
    width: 100%;
    height: 15px;
    padding: 5px;
}

.groepForm__button {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #74A1CB;
    border-radius: 6px;
    width: 100%;
    border: none;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease 0s;
}

.groepForm__button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    background-color:#5192ce;
}

.groepModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.groepModal__scherm {
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 40%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.groepModal__scherm__close {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    background-color: rgb(179, 179, 179);
    top: 20px;
    right: 20px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.groepModal__scherm__close:hover{
    background-color: rgb(161, 161, 161);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ID {
    display: none;
}

@media screen and (min-width: 1200px) {
    .groepModal__scherm {
        width: 30%;
    }
  }