p {
  color: black;
  font-size: 20px;
}

.groepGrid {
  height: 100%;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 3%;
  grid-template-columns: auto;
}

.groepen {
  padding: 2% 10%;
  display: block;
}


.groepen h1 {
  font-size: 32px;
  color: black;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}


.cardContainer__groepCard {
  height: 200px;
  width: 100%;
  margin-top: 2vh;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 20px;
  padding-top: 25px;
  border: 1px solid #74A1CB;
}

.cardContainer__groepCard__header {
  display: flex;
  flex-direction: column;
}

.cardContainer__groepCard__header__h3 {
  font-style: normal;
  font-weight: 600;
  color: #74A1CB;
}

.cardContainer__groepCard__header__h4 {
  font-weight: normal;
  color: #8A8A8A;
}

.cardContainer__groepCard__info {
  font-weight: 400;
  margin-top: 16.5%;
  font-size: 16px;
  width: 100%;
}

.cardContainer button {
  margin-top: 50px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  width: 115px;
  height: 30px;
  text-align: center;
  font-weight: medium;
  font-size: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #74A1CB;
  border-radius: 6px;
  border: none;
  color: white;
  display: inline-block;
  transition: all 0.2s ease 0s;
  padding: 3px;
}

.cardContainer button:hover {
  background-color: #5192ce;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.cardContainer__groepCard__leden__ledenButton {
  float: right;
}

.cardContainer__groepCard__leden__subGroepButton {
  float: left;
}

.groep__addButton {
  width: 100%;
  margin-top: 3vh;
  height: 40px;
  background: #3EC47B;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease 0s;
}

.groep__addButton:hover {
  background: #21bd67;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.Terug span:hover {
  text-decoration: underline;
}

@media (min-width:1281px) {
  .groep__addButton {
    height: 60px;
    font-size: 20px;
  }

  .groepGrid {
    grid-template-columns: auto auto;
  }

  .cardContainer button {
    height: 40px;
    width: 180px;
    margin-top: 30px;
    font-size: 18px;
  }
}