.Terug {
    padding: 0 4%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.Terug a svg {
    height: 24px;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 5px;
}

.LedenLink span {
    font-size: 16px;
    text-decoration: underline;

}

.Leden__Article p {
    margin-bottom: 2vh;
}

.LedenLink span {
    margin-top: 0;
    height: 100%;
}


.Leden__h1 {
    color: black;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.Leden__Grid {
    height: 100%;
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-gap: 15%;
    grid-template-columns: auto;
}

.Leden__ .Leden__Article h1 {
    color: black;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 2vh;
}

.Leden__Article {
    padding: 2% 10%;
    display: block;
}

.Leden p {
    font-size: 14px;
    margin-bottom: 1.5vh;
}



.lidCardContainer {
    display: flex;
    justify-content: center;

}

.lidCardContainer__Card {
    width: 100%;
    border-radius: 5px;
    height: 100px;
    padding: 0px 10px;
    justify-self: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


}

.lidCardContainer__Card--active {
    width: 100%;
    border-radius: 10px;
    height: 100px;
    padding: 0px 10px;
    background-color: rgb(70, 137, 242, 0.40);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.lidCardContainer__Card__delete {
    border: 1px solid white;
    width: 100%;
    border-radius: 10px;
    height: 100px;
    padding: 0px 10px;
    background-color: rgb(70, 137, 242, 0.40);
    color: white;
}


.lidCardContainer__Card__header {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
    justify-content: center;
}

.lidCardContainer__Card__header__h4 {
    color: #060606;
    font-weight: normal;
    display: block;
}


.lidCardContainer__Card__header__h4--active {
    color: #060606;
    font-weight: normal
}


.lidCardContainer__Card__header__h5 {
    color: #686868;
    opacity: 100%;
    font-weight: 400;
}

.lidCardContainer__Card__header__h5--active {
    color: #686868;
    opacity: 100%;
    align-self: right;
    font-weight: 400;

}

.Leden__button {
    margin-bottom: 2vh;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    font-family: 'Open Sans';
    background-color: #3EC47B;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease 0s;
}

.Leden__button:hover{
    background: #21bd67;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.LedenGrid__addUser {
    margin-bottom: 2vh;
    height: 40px;
    color: white;
    border: none;
    background-color: #3EC47B;
    font-size: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease 0s;
}

.LedenGrid__addUser:hover {
    background: #21bd67;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.LedenGrid__deleteUser {
    margin-bottom: 2vh;
    height: 40px;
    color: white;
    border: none;
    background-color: #CB7474;
    font-size: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease 0s;
}

.LedenGrid__deleteUser:hover{
    background-color: #ca6a6a;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
}


.Leden__buttonDelete {
    margin: 2vh 0;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    font-family: 'Open Sans';
    background-color: #CB7474;
    color: white;
    border-radius: 8px;
    border: 1px solid #CB7474;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease 0s;
}

.Leden__buttonDelete:hover{
    background-color: #ca6a6a;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1281px) {

    .Leden__Grid {
        grid-template-columns: auto auto auto;
    }

    .Leden__buttonDelete {
        height: 60px;
        font-size: 20px;
    }

    .LedenGrid__deleteUser {
        height: 60px;
        font-size: 20px;
    }

    .LedenGrid__addUser {
        height: 60px;
        font-size: 20px;
    }

    .Leden__button {
        height: 60px;
        font-size: 20px;
    }

    .Leden__Article p {
        font-size: 18px;

    }

}