.Changerole__article{
    padding: 2% 10%;
}

.ChangeRole__ul {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
}

.ChangeRole__ul__listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    padding: 20px;
    padding-top: 25px;
    border: 1px solid #74A1CB;
}

.ChangeRole__Button {
    width: 100%;
    margin-top: 3vh;
    height: 40px;
    background: #3EC47B;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 20px auto;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #74A1CB;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ChangeRole__Button:hover {
    background-color: #5192ce;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}

@media only screen and (min-width: 600px) {
    .Changerole__article{
        padding: 2% 10%;
        width: 80%;
        
    }
    .ChangeRole__ul {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    }
    .ChangeRole__Button {
        margin: 0 auto;
        width: 100%;
        margin-top: 3vh;
    }
  }
