.ingeleverdKaart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    width: 82.5%;
    margin: 10px 0px;
    margin: 7.5px auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #74A1CB;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.ingeleverdKaart__boven{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingeleverdKaart__boven__aside{
    display: flex;
    flex-direction: row;
}

.ingeleverdKaart__boven__aside-titel{
    font-size: 18px;
    color: #74A1CB;
    text-align: left;
    
}
.ingeleverdKaart__boven__aside-subgroep{
    font-size: 14px;
    color: black;
    text-align: left;
    
}

.ingeleverdKaart__boven__knop {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

    
.Collapsible {
    font-size: 12px;
    color: #333;
}

.ingeleverdKaart__onder__goedkeuren {
    background-color: #3EC47B;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px;
    transition: all 0.2s ease 0s;
}

.ingeleverdKaart__onder__afkeuren {
    background-color: #CB7474;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px;
    transition: all 0.2s ease 0s;
}

.ingeleverdKaart__onder__goedkeuren:hover{
    background-color: #21bd67;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.ingeleverdKaart__onder__afkeuren:hover{
    background-color: #ca6a6a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.ingeleverdKaart__boven__knop__beschrijving {
    text-align: left;
    font-size: 12px;
}

.ingeleverdKaart__boven__knop__bestand {
    padding: 5px;
    width:50%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 7px 2px;
}
.ingeleverdKaart__boven__knop__bestand:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.ingeleverdKaart__boven__knop__button{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.ingeleverdKaart__boven__knop__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.ingeleverdKaart__onder__afkeuren-icon{
    width: 20px;
    margin: 3px;
}
.ingeleverdKaart__onder__goedkeuren-icon{
    width: 20px;
    margin: 3px;
}


button{
    cursor: pointer;
}
p svg{
    height: 24px;
    width: 24px;
    margin: 0 auto;
}

.ingeleverd__titel{
    margin: 2% 10%;
}

@media screen and (min-width: 768px) {
    .ingeleverd__container{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .ingeleverd__container{
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90%;
    }

    .ingeleverd__titel{
        margin: 2% 7.5%;
    }
}