h1#mededeling__titel{
    margin: 1rem 1rem;
    margin-left: 12%;
}

.info{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    background-color: #fff;
    color: #444;
    text-align: center;
}

.info__section__groep {
    word-wrap: break-word;
    background: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0.5rem;
}
.info__section__subgroep {
    word-wrap: break-word;
    background: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0.5rem;
}
.mededeling__section {
    word-wrap: break-word;
    background: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0.5rem;
}

h2.info__section__h2{
    text-align: left;
    font-size: 20px;
    color: #74A1CB;
}

h2.info__section__h3{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

h2#mededeling__section__h2{
    text-align: left;
    font-size: 20px;
    color: #74A1CB;
}

h3#mededeling__section__h2{
    text-align: left;
    font-size: 18px;
}

p#mededeling__section__text{
    text-align: left;
    font-size: 16px;
}

p#mededeling__section__date{
    text-align: right;
    color: #8A8A8A;
    font-size: 0.6rem;
}

button.mededeling__button__delete{
    background-color: #CB7474;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 5px 5px;
    transition: all 0.2s ease 0s;
    margin: 0;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 75%;
}

button.mededeling__button__delete:hover{
    background-color: #c06060;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

button.mededeling__button__make{
    background-color: #74A1CB;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 5px 5px;
    transition: all 0.2s ease 0s;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 75%;
}
button.mededeling__button__make:hover{
    background-color: #5192ce;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.container__section{
    background-color: white;
    border: 1px solid #74A1CB;
    padding: 30px;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    height: 40%;
    width: 70%;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container__input{
    width: 100%;
    padding: 5px 5px;
}

.container__textarea{
    height: 100px;
    margin-bottom: 35px;
}

.container__titel{
    text-align: left;
}

.container__vereniging{
    opacity: 0;
}

.container__button__make{
    background-color: #74A1CB;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 5px 5px;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 27.5%;
}
.container__button__make:hover{
    background-color: #5192ce;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);

}
.container__button__x{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    background-color: rgb(179, 179, 179);
    top: 20px;
    right: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.invisible{
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container__button__x:hover{
    background-color: rgb(161, 161, 161);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1200px) {
    
    .info__section__groep {
        grid-column: 1;
        grid-row: 1;
        margin: 0.5rem;
    }
    .info__section__subgroep {
        grid-column: 2;
        grid-row: 1;
        margin: 0.5rem;
    }
    .mededeling__section {
        grid-column: 1 / 3;
        grid-row: 2;
        margin: 0.5rem;
    }

    h1#mededeling__titel{
        margin-left: 10.5%;
    }

    button.mededeling__button__delete{
        width: 20%;
        top: 75%;
        left: 61%;
    }

    button.mededeling__button__make{
        width: 20%;
        top: 75%;
        left: 39%;
    }

    .container__section{
        width: 40%;
    }

    .container__button__make{
        margin-left: 40%;
    }
   
}