a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar {
  height: 80px;
  background-color: #242526;
  padding: 0 2rem;
  border-bottom: 1px solid #474a4d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar__list {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navItem__icon {
  width: calc(60px * 0.5);
  height: calc(60px * 0.5);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s filter;
}

.navItem__icon:hover {
  filter: brightness(1.2)
}

.navItem__icon svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.Dropdown {
  position: absolute;
  top: 58px;
  width: 200px;
  transform: translateX(-45%);
  background-color: #484a4d;
  border: 1px solid #474a4d;
  padding: 16px;
  overflow: hidden;
  transition: height 0.3s ease;
  border-radius: 5px;
}

.Dropdown__items {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.5s;
  padding: 8px;

}

.Dropdown__items:hover {
  background-color: #525357;
}

.Dropdown__items__iconLeft {
  width: calc(60px * 0.5);
  height: calc(60px * 0.5);
  background-color: #484a4d;
  ;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s filter;
}

.Dropdown__items__iconLeft svg {
  fill: white;
}

.Dropdown__items__iconRight {
  margin-left: auto;
}

.dropdown__menu {
  width: 100%;

}

.dropdown__menu a {
  width: 100%;
  height: 100%;
  color: white;
  margin-left: 10px;
}

.Dropdown__items a {
  color: white;
  margin-left: 10px;
}

.dropdown__menu p {
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 0.5s ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 0.5s ease;
}

#menu__vereniging{
  color: white;
  align-self: center;
  left: 2rem;
  position: absolute;
}

#menu{
  color: white;
  align-self: center;
}