.actionButton {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #74A1CB;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 90px;
  right: 35px;
  z-index: 1000;
  cursor: pointer;
  border: none;
}

.actionButton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 36px;
  color: white;
}