* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.2rem;
}

a {
  color: black;
}


body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

@media(min-width:1281px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

}